{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card border-0 shadow-sm">
            <div class="card-body p-4">
                <h4 class="mb-4">{{ title }}</h4>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-flex justify-content-between mt-3">
                        <a href="{% url 'bookings:list' %}" class="btn btn-outline-secondary">Cancel</a>
                        <button class="btn btn-primary">Save & Send Confirmation</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}